@import './fonts.scss';

.header {
    &__title {
        font-family: "Roboto Medium", sans-serif;
        font-size: 48px;
        line-height: 58px;

        @media (max-width: 768px) {
            font-size: 34px;
            line-height: 40.8px;
        }
    }
}

.card {
    &__title {
        font-family: "Roboto Medium", sans-serif;
        font-size: 24px;
        line-height: 30px;

        @media (max-width: 768px) {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.form {
    &__title {
        font-family: "Roboto Medium", sans-serif;
        font-size: 34px;
        line-height: 42.5px;

        @media (max-width: 768px) {
            font-size: 28px;
            line-height: 33.6px;
        }
    }
}

h3 {
    font-family: "Roboto Medium", sans-serif;
    font-size: 28px;
    line-height: 35px;

    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 28.6px;
    }
}

