$black: #131313;
$grey900: #383838;
$grey800: #787F85;
$grey700: #959DA3;
$grey600: #ACB3B9;
$grey500: #C1C6CB;
$grey400: #CDD2D7;
$grey300: #DADEE2;
$grey200: #EEF0F4;
$grey100: #F7F9FB;
$white: #FFFFFF;
$blue: #0D7AD9;
$lightBlue: #A6CEF1;
$blueHover: #175098;