@import './global/colors.scss';
@import './global/fonts.scss';
@import './header.scss';

.filters-section {
    display: flex;
    flex-direction: row;
    gap: 32px;

    &__filter {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__select {
        height: 44px;
        border-color: $grey400;
        border-width: 1px;
        padding: 4px 12px 4px 12px;
        border-radius: 4px;
        background-color: $white;
        color: $black;
        box-shadow: none;
        width: 265.5px;
    }

    &__button {
        background-color: $blue;
        margin-top: auto;
    }
}

.selector-text {
    font-family: "Roboto Regular", sans-serif;
    font-size: 14px;
    line-height: 19.6px;  
    color: $grey600;
}