@import '../global/fonts.scss';
@import '../global/colors.scss';

.header__title {
    font-family: "Roboto Medium", sans-serif;
    font-size: 48px;
    line-height: 58px;

    @media (max-width: 768px) {
        font-size: 34px;
        line-height: 40.8px;
    }
}

.header {
    margin: 40px auto auto 40px;
}