@import '../global/fonts.scss';
@import '../global/colors.scss';
@import '../global/base.scss';
@import '../global/grid.scss';

.header { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $major-step * 5;
    align-self: stretch;
    padding: $major-step * 8 $major-step * 15 $major-step * 6 $major-step * 15;

    @media (max-width: 768px) {
        padding: $major-step * 4 $major-step * 2;
        gap: $major-step * 3;
    }

    &__title {
        @include _h(48px, 58px);
        @include _768 {
            @include _h(34px, 120%);
        }
    }

    &__clear-button {
        box-shadow: none;
        border: none;
        background-color: $white;
        text-align: left;
        color: $blue;
        @include _reg(16px, 23px);
        align-items: center;
        gap: $minor-step;
        text-decoration-line: underline;
        text-decoration-color: rgb($blue, .2);
        padding: $minor-step;
        margin-top: $major-step * -3;
        cursor: pointer;
        display: none;
    }
}