@import '../global/fonts.scss';
@import '../global/colors.scss';
@import '../global/base.scss';

.header { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    padding: 64px 120px 48px 120px;

    @media (max-width: 768px) {
        padding: 32px 16px;
        gap: 24px;
    }

    &__title {
        @include _h(48px, 58px);
        @include _768 {
            @include _h(34px, 120%);
        }
    }
}