@import './global/colors.scss';
@import './global/fonts.scss';

.vacancy-card__title {
    font-family: "Roboto Medium", sans-serif;
    font-size: 24px;
    line-height: 30px;

    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 24px;
    }
}

.vacancy-card {
    background-color: white;
    padding: 40px 40px 48px 40px;
    margin-bottom: 32px;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px 0px #1E1E1E1A;
    border-radius: 16px;
}