@import './global/colors.scss';
@import './global/fonts.scss';

.header {
    margin: 40px auto auto 40px;
}

.filters-section {
    @extend .header;
    display: flex;
    flex-direction: row;
    gap: 32px;

    &__filter {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &__select {
            height: 44px;
        }
    }
}

.vacancy-card {
    background-color: white;
    padding: 40px 40px 48px 40px;
    margin-bottom: 32px;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px 0px #1E1E1E1A;
    border-radius: 16px;
}

.form-request {
    background-color: #F7F9FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 120px 88px 120px;
}

.footer {
    background-color: #383838;
    color: white;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    margin-left: 120px;
    display: grid;
    padding-top: 10px;
    gap: 4px;
    }

    &__right {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    margin-top: 20px;
    margin-right: 120px;
    text-align: right;
    display: grid;
    gap: 4px;
    }
}

.send-button {
    height: 44px;
    background-color: $blue;
    border-radius: 4px;
    text-align: center;
    color: white;
    box-shadow: none;
    margin-top: 14px;
    border: none;
    font-family: "Roboto Bold", sans-serif;
    font-size: 15px;
    padding: 8px 32px 8px 32px;
    margin-top: 18px;
}