@import 'src/styles/global/colors.scss';
@import 'src/styles/global/fonts.scss';
@import 'src/styles/global/base.scss';
@import 'src/styles/global/grid.scss';

.clear-button {
    box-shadow: none;
    border: none;
    background-color: $white;
    text-align: left;
    color: $blue;
    @include _reg(16px, 23px);
    align-items: center;
    gap: $minor-step;
    text-decoration-line: underline;
    text-decoration-color: rgb($blue, .2);
    padding: $minor-step;
    cursor: pointer;
    display: none;
}